<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Conspiratio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Conspiratio.Properties.Settings>
            <setting name="Musik_ausschalten" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tipp_anzeigen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Statistik_anzeigen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Musik_Lautstaerke" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Sound_Lautstaerke" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Sound_ausschalten" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Letzter_Spielstand" serializeAs="String">
                <value />
            </setting>
            <setting name="Stimmen_Lautstaerke" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="Stuetzpunktereignisse_KISpieler_anzeigen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Militaerereignisse_KISpieler_anzeigen" serializeAs="String">
                <value>True</value>
            </setting>
        </Conspiratio.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
